
/* Extra small devices (phones, 600px and down) */


@media only screen and (max-width: 600px) {
*{
    box-sizing: border-box;
}
    /* nav style start */

nav{
    flex-direction: column;
}
.logo-box{
    width: 100%;
    /* margin-right: 50px; */
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
}
.text-box{
    flex-direction: column;
    width: 100%;
}
/* nav style end */

/* banner-container-style */

.banner-container{
    flex-direction: column-reverse;
}
.banner-images{
    width: 100%;
}
.banner-text{
    width: 100%;
}
.banner-text h4{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.banner-text h1{
    text-align: center;
    font-size: 60px;
    font-weight: 800;
}
.banner-icon li{
    margin-left: 90px;
}
.banner-btn-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.banner-btn{
    padding: 10px 15px;
    border-radius: 40px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}
.btn{
    background-color: rgb(251, 2, 242);
}

/* games card container style */

.games-card-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 60%;
    margin: 0 auto;
}
.games-title-box{
    margin-top: 50px;
    padding-bottom: 2rem;}
.games-title-box h2{
    color: #0B0223;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.games-title-box p{
    color: #534C64;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

/* .anniversary-container style */

.anniversary-container{
    flex-direction: column;
}
.anniversari-text{
    width: 100%;
    text-align:center;
}
.anniversari-text h3{
    color: #0B0223;
    font-size: 28px;
    font-weight: 700;
    line-height: 50px;
}
.anniversari-text p{
    color: #534C64;
    font-size: 12px;
    font-weight:400 ;
    line-height: 20px;
}
.anniversari-images{
    width: 90%;
    margin-top: -160px;
}
.games-catagori-container{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

}
