/* // Large devices (desktops, 992px and up)// */


@media (min-width: 576px) and (max-width: 991.98px) {

    .nav{
        align-items: center;
    }
    .text-box a{
        font-size: 12px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-images{
        width: 90%;
    }
    .banner-text{
        width: 80%;
        margin-top: 1rem;
    }

    .games-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        align-items: center;
    }

    .anniversary-container{
        flex-direction: column;
    }
    .anniversari-text{
        text-align: center;
        align-items: center;
    }
    .anniversari-images{
        width: 75%;
        margin: 0 auto;
    }


}

