*{
    box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
  font-family: 'Work Sans', sans-serif;
}

/* nav style start */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

}
.logo-box{
    display: flex;
    gap: 20px;
    width: 50%;
    justify-content: center;
}
.text-box{
    gap: 20px;
    width: 50%;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: end;
    font-size: 18px;
    color: #3C354F;
    font-style: normal;
    font-weight: 500;
}
.text-box a{
    text-decoration: none;
}
.fallow-icon{
    background-color:rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
}
.fa-brands, .fa-youtube{
    color:#FF0000;
    padding-left: 20px;
}
.fa-tiktok{
    color: black;
}
/* nav style end */

/* banner-container style-start */

.banner-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-text{
    width: 50%;
    text-align: center;
    align-items: center;
    background-image: url('./images/Group 14.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-text h4{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 50px;
}
.banner-text h1{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-icon li{
    list-style: none;
    text-align:start;
    margin-left: 120px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}
.banner-btn{
    padding: 20px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 20px;
    border: none;
}
.btn{
    background-color: rgb(251, 2, 242);
}
.banner-images{
    width: 50%;
}
.banner-images img{
    width: 100%;
    height: 100%;
}
/* banner-container style-end */



/* Online Games Funny Videos style */

.games-title-box{
    margin-top: 100px;
    padding-bottom: 3rem;}
.games-title-box h2{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.games-title-box p{
    color: #534C64;
    text-align: center;
    font-size: 1.20rem;
    font-weight: 400;
}


/* GAMES CARDS CONTAINER STYLE */

.games-card-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.games-card{
    border-radius: 1rem;
    width: 250px;
    height: 355px;
    text-align: start;
}
.game-img{
    width: 100%;
}

/* anniversary-container style */

.anniversary-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 200px;
    margin-bottom: 50px;
    border: 2px solid gray;
}
.anniversari-text{
    width: 50%;
    text-align: end;
}
.anniversari-text h3{
    color: #0B0223;
    font-size: 37px;
    font-weight: 700;
    line-height: 50px;
}
.anniversari-text p{
    color: #534C64;
    font-size: 14px;
    font-weight:400 ;
    line-height: 25px;
}
.anniversari-images{
    width: 50%;
}
.anniversari-images img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.ten-years-badge{
    border-radius: 8px;
    background-image: url('./images/Rectangle 66.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 0;
    padding: 140px;
    position: relative;
    bottom: 150px;
    margin-right: 50px;
}

/* games catagory container */

.games-catagori-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.game-name{
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 10px;
}
.games-catagori-container :hover{
    border: 2px solid gray;
    cursor: pointer;
    border-radius: 50px;
    color:goldenrod;
}




