*{
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
    font-family: 'Work Sans', sans-serif;
}

/* nav style start */

.lin-color{
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hover-pic{
    margin-top: -240px;
}
.hover-pic a {
    text-decoration: none;
    gap: 10px;
    display: grid;
    margin: 2rem;
    text-align: center;
}
.watch{
    color: #f948b2;
    font-size: 20px;
    font-weight: 700;
}
.fa-circle-play{
    color:red;
    font-size: 40px;
    font-weight: 700;
}

nav{
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px 0 0;
    background-color: #FFF;
}
.logo-box{
    display: flex;
    gap: 20px;
    width: 50%;
    justify-content: center;
}
.text-box{
    gap: 20px;
    width: 50%;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: end;
    font-size: 18px;
    color: #3C354F;
    font-style: normal;
    font-weight: 500;
}
.text-box a{
    text-decoration: none;
}
.fallow-icon{
    background-color:rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
}

.fa-youtube{
    color:#FF0000;
    padding-left: 20px;
}
.fa-youtube :hover {
    cursor: pointer;
    color: yellow;
}
.fa-tiktok{
    color: black;
}
.fa-tiktok :hover {
    cursor: pointer;
    color: #010101c6;
}
/* nav style end */

/* banner-container style-start */

.banner-container{
    max-width: 1500px;
    margin: 3rem auto;
    display: flex;
    align-items: center;
}
.banner-text{
    width: 50%;
    text-align: center;
    align-items: center;
    background-image: url('./images/Group 14.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-text h4{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-text h1{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-icon li{
    list-style: none;
    text-align:start;
    margin-left: 120px;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .8rem;
}
.banner-btn{
    padding: 20px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 20px;
    border: none;
}
.btn{
    background-color: rgb(251, 2, 242);
}
.banner-images{
    width: 50%;
}
.banner-images img{
    width: 100%;
    height: 100%;
}
/* banner-container style-end */



/* Online Games Funny Videos style */

.games-title-box{
    margin-top: 100px;
    padding-bottom: 3rem;}
.games-title-box h2{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.games-title-box p{
    color: #534C64;
    text-align: center;
    font-size: 1.20rem;
    font-weight: 400;
}


/* GAMES CARDS CONTAINER STYLE */

.games-card-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.games-card{
    border-radius: 1rem;
    width: 250px;
    height: 355px;
    text-align: start;
}
.game-img{
    width: 100%;
}

/* anniversary-container style */


.anniversary-container{
    max-width: 1500px;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
.anniversari-text{
    text-align: end;
}
.anniversari-text h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.anniversari-text p{
    color: #534C64;
    font-size: 18px;
    font-weight:400 ;
    line-height: 30px;
}
.anniversari-images{
    text-align: center;
    position: relative;
}
.img-one{
    width: 80%;
}
.img-two{
    width: 50%;
}
.anniversari-images .img-two{
    position: absolute;
    bottom: -10%;
    left: -15%;
}

/* games catagory container */

.games-catagori-container{
    max-width: 1500px;
    width: 95%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 6rem;
}
.game-name{
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 10px;
}
.games-catagori-container :hover{
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 50px;
    color:goldenrod;
}

/* footer section */

footer{
    height: fit-content;
    background-color: #010101;
    color: white;
    margin-top: 4.50rem;
}
.footer-container{
    max-width: 1500px;
    margin: auto;
    padding: 4rem;
    text-align: center;
}
.footer-container .footer-logo{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}
.footer-link a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: white;
}
.footer-social-link a{
    color: white;
    font-size: 2rem;
    margin: 1rem;
}
.footer-social-link a :hover{
    color: gold;
    cursor: pointer;
}
.footer-treams{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.footer-treams a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}




/* Extra small devices (phones, 600px and down) */


@media only screen and (max-width: 576px) {

    nav{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        flex-direction: column;
    }
    .logo-box{
        margin-top: 2rem;
        padding-left: 60px;
        flex-direction: column;
        align-items: center;
    }
    .text-box{
        padding-left: 60px;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .fallow-icon{
        margin-bottom: 1rem;
        padding: 10px;
        font-size: 12px;
        gap: 5px;
        width: 150%;
    }
    
    /* banner-container style */
    
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-images{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .banner-text{
        width: 80%;
        background-image: url('./images/Group 14.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
    
    } 
    .banner-text h4{
        width: 100%;
        font-size: 30px;
        text-align: center;
        margin-top: 100px;
    }
    .banner-text h1{
        font-size: 70px;
        font-weight: 800;
        text-align: center;
        margin-top: -25px;
    }
    .banner-icon li{
        line-height: 50px;
        font-size: 9px;
        text-align: left;
        margin-right: 100px;
        margin-top:-40px ;
    }
    .banner-btn-container{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .banner-btn{
        padding: 10px 20px;
        border-radius: 48px;
        color: #FFF;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 20px 20px;
        border: none;
    }
    
    /* games-container style */
    
    .games-title-box{
        width: 90%;
        margin: 1rem auto;
    }
    .games-title-box h2{
        text-align: center;
        font-size: 25px;
    }
    .games-title-box p{
        font-size: 13px;
    }
    
    .games-card-container{
        flex-direction: column;
        align-items: center;
    }
    
    .anniversary-container{
        flex-direction: column;
        margin-top: -4rem;
    }
    .anniversari-text{
        text-align: center;
        width: 90%;
    }
    .anniversari-images{
        width: 90%;
        margin-top: -6rem;
    }
    .img-two{
        width: 40%;
        margin-left: 2.50rem;
    }
    .games-catagori-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
    }
    .game-name img{
        width: 30px;
    }
    .game-name h3{
        font-size: 8px;
        align-items: center;
    }
    
    /* footer style */
    
    .footer-link,
    .footer-social-link{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-link,
    .footer-treams{
        color: #FFF;
        text-align: center;
        font-size: 9px;
        font-weight: 600;
    }
    .footer-treams{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    }



    /* // Large devices (desktops, 992px and up)// */


@media (min-width: 576px) and (max-width: 991.98px) {

    .nav{
        align-items: center;
    }
    .text-box a{
        font-size: 12px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-images{
        width: 90%;
    }
    .banner-text{
        width: 80%;
        margin-top: 1rem;
    }

    .games-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        align-items: center;
    }

    .anniversary-container{
        flex-direction: column;
    }
    .anniversari-text{
        text-align: center;
        align-items: center;
    }
    .anniversari-images{
        width: 75%;
        margin: 0 auto;
    }
}



